#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/kimiboard.h>

&trackball {
    scroll-layers = <1>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &bt BT_NXT  &lt 1 MB3         &mkp LCLK     &mkp RCLK
                            &kp BACKSPACE     &kp SPACE     &kp ENTER
            >;
        };

        scroll_layer {
            bindings = <
                &trans          &trans      &tb_rot_ccw      &tb_rot_cw
                &trans          &trans      &trans           &trans  
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <0 3>;
            timeout-ms = <50>;
        };
    };

};
